{% extends "body.html" %}
{% load static %}
{% block all %}
    {# ----Блок 1------------------------------------------------------------------------ #}

    <div class="block1">

        {# ----Контейнер блока 1------------------------------------------------------------------------ #}
        <div class="block1__container _container">

            {# ----Тело блока 1------------------------------------------------------------------------ #}
            <div class="block1__body">

                {# ----Секци текста и кнопка блока 1------------------------------------------------------------------------ #}
                <div class="block1__text__button">

                    {# ----Заголовок текста и кнопка блока 1------------------------------------------------------------------------ #}
                    <h1 class="bl1-text-button__h">Цветы не решают всех проблем, но они - хорошее начало</h1>

                    {# ----Текст текста и кнопка блока 1------------------------------------------------------------------------ #}
                    <p class="bl1-text-button__p">Выберите цветочек уже сейчас и наслаждайтесь его цветением долгие
                        годы</p>

                    {# ----Кнопка текста и кнопка блока 1------------------------------------------------------------------------ #}
                    <a href="{% url "show_products" %}">
                        <button type="submit" class="bl1-text-button__button">Приобрести цветочки</button>
                    </a>

                </div>

                {# ----Картинка блока 1------------------------------------------------------------------------ #}
                <img src="{% static "img/Block1_image.png" %}" alt="" class="block1__image">

            </div>

        </div>

        {# ----Картинка заднего фона------------------------------------------------------------------------ #}
        <div class="_ibg block1-background__img">
            <img src="{% static "img/Background.jpg" %} " alt="" class="">
        </div>

    </div>

    {# ----Блок 2------------------------------------------------------------------------ #}
    <div class="block2">

        {# ----Контейнер блока 2------------------------------------------------------------------------ #}
        <div class="block2__container _container">

            {# ----Тело блока 2------------------------------------------------------------------------ #}
            <div class="block2__body">

                {# ----Текст блока 2------------------------------------------------------------------------ #}
                <p class="block2__p">
                    Цветы используются для выражения любви, печали, горя, печали, и даже благодарности. Они
                    могут
                    выразить те чувства, которые трудно выразить словами. Розы стали символом романтических
                    отношений между парами. Букет из красных роз - самый популярный подарок, передающий теплоту
                    чувств. Помимо того, что цветы используются для художественного оформления помещений, они
                    используются для улучшения настроения. Они магическим образом освежают атмосферу,
                    успокаивают
                    нервы, наполняют помещение ароматом.
                </p>

                {# ----Картинка блока 2------------------------------------------------------------------------ #}
                <img src="{% static "img/Block2_image.png" %}" alt=""
                     class="block2__image">

            </div>

        </div>

    </div>

{% endblock all %}


