{% extends "body.html" %}
{% block all %}

    {#----Блок 1------------------------------------------------------------------------#}
    <div class="block1">

        {#----Контейнер блока 1------------------------------------------------------------------------#}
        <div class="block1__container _container">

            {#----Тело Блока 1------------------------------------------------------------------------#}
            <div class="block1__body">

                {#----Кнопки вход и регистрация------------------------------------------------------------------------#}
                <ul class="block1__list">

                    <li class="bl1-list__item ">
                        <a href="{% url "show_sign_in" %}" id="log_click" class="bl1-list__link class1"
                        >Вход</a>
                    </li>

                    <li class="bl1-list__item">
                        <a href="{% url "show_sign_up" %}" id="reg_click" class="bl1-list__link class2"
                        >Регистрация</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    {#----Блок 2------------------------------------------------------------------------#}
    <div class="block2">

        {#----Контейнер блока 2------------------------------------------------------------------------#}
        <div class="block2__container _container">

        {#----Тело Блока 2------------------------------------------------------------------------#}
            <div class="block2__body">

            {#----Подставляеться signIn.html или signUp.html------------------------------------------------------------------------#}
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock all %}

