{% extends "products_mixin.html" %}

{#----Кнопка------------------------------------------------------------------------#}
{% block button %}
    <div class="block2__button">
        <button name="tag__title" value="{{ producttag.title }}">Поиск</button>
    </div>
{% endblock button %}

{#----Цикл товар------------------------------------------------------------------------#}
{% block content %}
    {% for product in producttag.products.all %}
        {% include "cycle.html" %}
    {% endfor %}
{% endblock content %}

