{% extends "body.html" %}
{% load static %}
{% block all %}

    {#----Блок 1------------------------------------------------------------------------#}
    <div class="block1">

        {#----Контейнер блока 1------------------------------------------------------------------------#}
        <div class="block1__container _container">

            {#----Тело блока 1------------------------------------------------------------------------#}
            <div class="block1__body">

                {#----О нас------------------------------------------------------------------------#}
                <div class="block1__about">
                    <h1 class="bl1-about__h">
                        О нас
                    </h1>
                    <p class="bl1-about__p">
                        Пример текстаПример текстаПример текстаПример текстаПример текстаПример текста
                        Пример текстаПример текстаПример текстаПример текстаПример текстаПример текстаПример
                        текстаПример текстаПример текстаПример текстаПример текста
                        м
                    </p>
                </div>

                {#----Адресс------------------------------------------------------------------------#}
                <div class="block1__address">
                    <h1 class="bl1-address__h">Адрес</h1>
                    <p class="bl1-address__p">Адрес</p>
                </div>

                {#----Карта------------------------------------------------------------------------#}
                <div class="block1__map">
                    <h1 class="bl1-map__h">Карта</h1>
                    <div id="mapid"></div>
                </div>

            </div>
        </div>
    </div>

    <script src="../static/js/app.js"></script>
{% endblock all %}

