<html lang="en">
{# ----Голова------------------------------------------------------------------------ #}
{% include "head.html" %}

{# ----Тело------------------------------------------------------------------------ #}
<body>
<div class="wrapper">

    {# ----Хедер------------------------------------------------------------------------ #}
    {% include "header.html" %}
    <main>

        {# ----Содержимое страницы------------------------------------------------------------------------ #}
        {% block all %}
        {% endblock all %}

    </main>

    {# ----Футер------------------------------------------------------------------------ #}
    {% include "footer.html" %}

</div>

{# ----Скрипт app.js------------------------------------------------------------------------ #}
<script src="/static/js/app.js"></script>

</body>

</html>
